body {
  padding-top: 4em;
  font-family: Georgia, "Times New Roman",
      Times, serif;
  color: rgb(0, 13, 133);
  background-color: #ffffff }
  ul.navbar {
    list-style-type: none;
padding: 0;
margin: 0;
position: absolute;
top: 2em;
left: 1em;
width: 15em }
ul.navbar li {
background: rgb(0, 13, 133);
margin: 0.5em 0;
padding: 0.3em;
border-right: 1em solid black }
ul.navbar a {
text-decoration: none }
a:link {
color: rgb(255, 255, 255) }
a:visited {
color: rgb(155, 155, 155) }



ul.navbar1 {
    list-style-type: none;
padding: 0;
margin: 0;
position: absolute;
top: 2em;
left: 10em;
width: 15em }
ul.navbar1 li {
background: rgb(0, 13, 133);
margin: 0.5em 0;
padding: 0.3em;
border-right: 1em solid black }
ul.navbar1 a {
text-decoration: none }
a:link {
color: rgb(255, 255, 255) }
a:visited {
color: rgb(155, 155, 155) }



ul.navbar2 {
    list-style-type: none;
padding: 0;
margin: 0;
position: absolute;
top: 2em;
left: 20em;
width: 15em }
ul.navbar2 li {
background: rgb(0, 13, 133);
margin: 0.5em 0;
padding: 0.3em;
border-right: 1em solid black }
ul.navbar2 a {
text-decoration: none }
a:link {
color: rgb(255, 255, 255) }
a:visited {
color: rgb(155, 155, 155) }



ul.navbar3 {
    list-style-type: none;
padding: 0;
margin: 0;
position: absolute;
top: 2em;
left: 26em;
width: 15em }    ul.navbar3 li {
background: rgb(0, 13, 133);
margin: 0.5em 0;
padding: 0.3em;
border-right: 1em solid black }
ul.navbar3 a {
text-decoration: none }
a:link {
color: rgb(255, 255, 255) }
a:visited {
color: rgb(155, 155, 155) }



  h1 {
font-family: Helvetica, Geneva, Arial,
      SunSans-Regular, sans-serif }
    #nombre{ 
    color: rgb(0, 121, 251);}
    #nombre1{ 
      color: rgb(0, 13, 133);}
    #nombre2{font-weight:bold}
address {
margin-top: 1em;
padding-top: 1em;
border-top: thin dotted }
#mapa{    list-style-type: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 13em;
  left: 25em;
  width: 20em }
  table {
    border-collapse: collapse;background: #b7c5fbc5
}
 
table,
th,
td {
    border: 3px solid rgb(0, 13, 133);
}
 
th,
td {
    padding: 5px;
}